.contacts {
  margin-top: 100px;
  padding-top: 5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  z-index: 5;
}
.contacts h2 {
  font-weight: 800;
  margin-top: 8px;
  font-size: 26px;
}
.contacts p, .contacts a {
  color: #ffffff;
  font-size: 28px;
  margin-top: 8px;
  font-weight: 300;
}

.content__numbers {
  margin: 15px 0px;
}
.content__numbers p, .content__numbers a {
  font-size: 16px;
  color: #737373;
}
.content__numbers p {
  margin-top: 5px;
}
.content__numbers a:hover {
  color: #f39c12;
  transition: 0.4s;
}